/* line 17, ../../src/scss/main.scss */
#map-container {
  display: table;
  width: 50%;
  margin: 0 auto;
}

/* line 27, ../../src/scss/main.scss */
#departements path,
#departements polygon,
#ile-de-france-zoomed path,
#ile-de-france-zoomed polygon {
  fill: #e9e9e9;
  stroke: #969696;
  stroke-width: 1px;
  -webkit-transition: fill 0.2s, stroke 0.3s;
          transition: fill 0.2s, stroke 0.3s;
}
/* line 33, ../../src/scss/main.scss */
#departements path:hover,
#departements polygon:hover,
#ile-de-france-zoomed path:hover,
#ile-de-france-zoomed polygon:hover {
  fill: #0c56a1;
}
/* line 41, ../../src/scss/main.scss */
#departements.highlight path,
#departements.highlight polygon,
#ile-de-france-zoomed.highlight path,
#ile-de-france-zoomed.highlight polygon {
  fill: #0c56a1;
}

/* line 49, ../../src/scss/main.scss */
#dom-tom path,
#dom-tom polygon {
  fill: #e9e9e9;
  stroke: #969696;
  stroke-width: 1px;
  -webkit-transition: fill 0.2s, stroke 0.3s;
          transition: fill 0.2s, stroke 0.3s;
}
/* line 58, ../../src/scss/main.scss */
#dom-tom .domtom:hover {
  fill: #0c56a1;
}
/* line 62, ../../src/scss/main.scss */
#dom-tom .domtom:hover path,
#dom-tom .domtom:hover polygon {
  fill: #0c56a1;
}

/* line 72, ../../src/scss/main.scss */
#regions path,
#regions polygon {
  stroke-width: 1px;
  stroke: #636363;
  -webkit-transition: fill 0.2s, stroke 0.3s;
          transition: fill 0.2s, stroke 0.3s;
}
